<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.tedstein.AndroSS"
  android:versionCode="17"
  android:versionName="0.4.3">
  <uses-sdk android:minSdkVersion="7" android:maxSdkVersion="10" android:targetSdkVersion="10"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application android:icon="@drawable/icon"
    android:allowBackup="true"
    android:label="@string/app_name">
    <activity android:label="@string/app_name"
      android:name="ConfigurationActivity"
      android:theme="@android:style/Theme.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name="GLDetector"
      android:theme="@android:style/Theme.NoTitleBar"/>
    <activity android:name="MoreSettings"/>
    <activity android:name="DebugInfo"/>

    <service android:name="AndroSSService"></service>

    <receiver android:name="CameraButtonReceiver">
      <intent-filter android:priority="999999">
        <action android:name="android.intent.action.CAMERA_BUTTON"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
